
:root{
    --bg-light : #fff;
    --bg-dark : #1E1E1E;
    --primary-light : #002C6D;
    --primary-dark : #E8D318;
    --bg-shade-1 : #282828;
    --bg-shade-2: #B1B1B1;
    --bg-shade-3 : #D9D9D9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-light);
    color: var(--bg-dark);
}

/* NAVBAR SECTION */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 5%;
    background-color: rgba(255, 255, 255 ,0.5);
    position: fixed;
    top:  0;
    right: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.3);
}

.navbar .navbar-logo{
    height: 3rem;
}

.navbar .navbar-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar .navbar-nav a {
    color: var(--bg-dark);
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 1rem;
    font-weight: 700;
}

.navbar .navbar-nav a:hover{
    color: var(--primary-light);
}

.navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.2rem;
    border-bottom: 0.1rem solid var(--primary-light);
    transform: scaleX(0);
    transition: 0.2s;
}

.navbar .navbar-nav a:hover::after{
    transform: scaleX(0.5);
}

.navbar .navbar-nav a.get-cv{
    display: inline-block;
}

.navbar .navbar-nav a.get-cv .content-cv{
    /* width: 9rem;
    background-color: var(--bg-shade-2); */
    border-radius: 50rem;
    box-sizing: border-box;
    display: flex;
    gap: 0.2rem;
    padding: 0 0.3rem;
    align-items: center;
    justify-content: space-between;
}

.navbar .navbar-extra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar .navbar-extra a{
    color: var(--bg-dark);
    margin-left: 1rem;
}

.navbar .navbar-extra a:hover{
    color: var(--primary-light);
}

#hamburger-menu {
    display: none;
}

/* START OF HERO SECTION */

.hero main{
    padding: 15rem 2rem 0 2rem;
    display: flex;
    justify-content: space-between;
    height: 138vh;
}

.hero img{
    width: 100%;
}

.hero .hero-bg-pembungkus .hero-bg{
    position: absolute;
    z-index: -2;
}

.hero .hero-bg-pembungkus .hero-object{
    position: absolute;
    z-index: -1;
}
/* .hero-object{
    position: absolute;
    z-index: -1;
}

.hero-bg{
    position: absolute;
    z-index: -2;
} */

.hero-intro{
    width: 50%;
}

p span{
    color: #002C6D;
    font-weight: bold;
}

.hero-intro .hero-hello {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hero-intro .hero-name {
    font-size: 7.5rem;
    margin-bottom: 2rem;
    font-weight: 700;
    line-height: 100%;
}

.hero-intro .batang-1{
    height: 0.3rem;
    width: 70%;
    border-radius: 5px;
    background-color: var(--primary-light);
    margin-left: -10%;
    margin-bottom: 1rem;
}

.hero-intro .hero-brief{
    width: 55%;
    font-size: 1.2rem;
    line-height: 130%;
    font-weight: 500;
}

.hero-sosmed{
    width: 6%;
}

.sosmed-circle{
    height: 4.5rem;
    width: 4.5rem;
    border: 0.25vw solid #282828;
    box-sizing: border-box;
    border-radius: 50%;
    margin-bottom: 0.7rem;
    text-align: center;
    padding: 4%;
}

.sosmed-circle svg{
    height: 100%;
    width: 100%;
}

.batang-2{
    float: right;
    height: 100vh;
    width: 0.3rem;
    border-radius: 5px;
    background-color: var(--primary-light);
    margin-top: -45vh;
}

.hero-hiasan{
    position: absolute;
    margin-left: 40%;
}

/* END OF HERO SECTION */

.tunggu{
    display: none;
}

.hero-hiasan .kotak1{
    background-color: var(--primary-light);
    height: 4.5rem;
    width: 4.5rem;
    margin-top: 20rem;
    margin-left: 23rem;
    animation-name: putar;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.hero-hiasan .kotak2{
    border: 0.2rem solid var(--primary-light);
    box-sizing: border-box;
    height:4.5rem;
    width: 4.5rem;
    margin-top: -3rem;
    margin-left: 21rem;
    animation-name: putar;
    animation-duration: 4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}

@keyframes putar {
    0%   {rotate: 0deg;}
    50%  {rotate: 180deg;}
}

.hero-hiasan .silinder{
    border: 0.25rem solid var(--primary-light);
    height: 3rem;
    width: 10rem;
    border-radius: 4vw;
    margin-top: 13vw;
    margin-left: 22vw;
}

.hero-hiasan .lingkaran{
    background-color: #002C6D;
    box-sizing: border-box;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    margin-top: -1.5rem;
    margin-left: 23rem;
    animation-name: berpindah;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes berpindah{
    0% {transform: translateX();}
    25% {transform: translate(9rem);}
    50% {transform: translate(9rem, -2.6rem);}
    75% {transform: translate(0rem, -2.6rem);}
    100% {transform: translate(0rem, 0rem);}
}

.batang-3{
    height: 0.8vw;
    width: 80vw;
    border-radius: 0px 5px 5px 0px;
    background-color: #002C6D;
    margin-top: -0.7vw;
    position: absolute;
}

.lingkaran-2{
    background-color: #002C6D;
    box-sizing: border-box;
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    margin-top: -1.8vw;
    margin-left: 78vw;
    position: absolute;
}

/* About Me Section */

.about-me{
    /* background-color: aquamarine; */
    height: 580px;
}

.about-me-propic{
    /* background-color: red; */
    float: left;
    height: 100%;
    width: 33%;
}

.about-me-propic .propic{
    width: 25vw;
    height: 30vw;
    margin: 8vw 0px 0px 7vw;
}

.about-me-propic .propic img{
    height: inherit;
    width: inherit;
    object-fit: cover;
    object-position: 25% 25%;
}

.about-me-propic .kotak-3{
    box-sizing: border-box;
    width: 25vw;
    height: 30vw;
    border: 0.3vw solid #002C6D;
    margin: -32vw 0px 0px 5vw;
    position: absolute;
}

.grid-1 {
    /* background-color: blue; */
    width: 5vw;
    height: 5vw;
    position: absolute;
    margin: -20vw 0 0 5vw;
    animation-name: putar;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


.grid-x{
    height: 7%;
    width: 100%;
    background-color: #002C6D;
    margin: 0 0 2.2px 0;
    
}

.grid-x:nth-child(even){
    animation-name: ke-kanan;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes ke-kanan {
    0% {margin-left: -10%; }
    50% {margin-left: 10%; background-color: #282828;}
    100% {margin-left: -10%; }
}

.grid-x:nth-child(odd){
    animation-name: ke-kiri;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes ke-kiri {
    0% {margin-left: 10%; background-color: #282828;}
    50% {margin-left: -10%; background-color: #002C6D;}
    100% {margin-left: 10%; background-color: #282828;}
}


.bentolan{
    /* background-color:#002C6D; */
    height: 8vw;
    width: 8vw;
    margin: -20% 0 0 80%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.bentolan .bintik{
    background-color:#282828;
    height: 12%;
    width: 12%;
    margin-right: 2%;
    border-radius: 50%;
}

.bentolan .bintik:nth-child(even){
    /* background-color: aqua; */
    animation-name: genap;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.bentolan .bintik:nth-child(odd){
    /* background-color: maroon; */
    animation-name: ganjil;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes genap {
    0%{scale: 0%; background-color: #002C6D;}
    25%{scale: 50%; }
    50%{scale: 100%; background-color:  #282828;}
    75%{scale: 50%; }
    100%{scale: 0%; background-color: #002C6D;}
}

@keyframes ganjil {
    0%{scale: 50%; }
    25%{scale: 100%; background-color: #282828; border-radius: 0;}
    50%{scale: 50%; }
    75%{scale: 0%; background-color:#002C6D;}
    100%{scale: 50%; }
}


.about-me-desc{
    /* background-color: yellow; */
    float: left;
    height: 100%;
    width: 33%;
    padding-right: 3vw;
    box-sizing: border-box;
}

h1{
    font-size: 5vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-me-desc h1{
    margin : 20% 0 0 10%;
}

h1 span{
    color: #002C6D;
}

.about-me-desc p{
    margin : 5% 0 0 10%;
    font-size: 1.3vw;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 130%;
}

.about-me-skills{
    /* background-color: aqua; */
    float: left;
    height: 100%;
    width: 34%; 
}

.about-me-skills h1{
margin : 23% 0 0 5%;
    font-size: 3vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-me-skills .skills-list{
    margin: 5% 0 0 5%;
    /* background-color: aquamarine; */
    width: 25vw;
    height: 100%;
}

.about-me-skills .skills-list .skills-item{
    width: 5vw;
    height: 5vw;
    border-radius: 1vw;
    border: 0.2vw solid  #002C6D;
    float: left;
    margin: 0 5% 10% 0;
    box-sizing: border-box;
    padding: 1.5%;
    animation-name: popup;
    animation-duration: 2s;
}

.skills-item svg{
    height: 100%;
    width: 100%;
}

.skills-item p{
    margin-top: 12%;   
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.6rem;
    font-weight: bold;
}

@keyframes popup {
    0% {scale: 0;}    
}


.batang-4{
    /* float: right; */
    height: 0.2vw;
    width: 35vw;
    border-radius: 0px 5px 5px 0px;
    background-color: #002C6D;
    margin : 2vw 0 0 64%;
}

.lingkaran-3{
    /* float: right; */
    background-color: #002C6D;
    box-sizing: border-box;
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    margin : -3vw 0 0 100%;
    animation-name: laju;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes laju {
    0% {margin : -3vw 0 0 95%;}
    50% {margin : -3vw 0 0 63%; background-color: #282828;}
    100% {margin : -3vw 0 0 95%;}

    
}

/* Services Section */

.judul-section{
    padding-top: 6%;
    text-align: center;
}

.container-services{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(rgb(255,255,255),#D9D9D9);
}

.services-list{
    /* background-color: #282828; */
    width: 25vw;
    height: 30vw;
}

.visual-services-list{
    /* background-color: #002C6D; */
    height: 25vw;
    width: 25vw;
    animation-name: putar360;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.services-list-bingkai{
    /* background-color: aliceblue; */
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1vw solid #002C6D;
    box-sizing: border-box;
}

.services-list-bulet{
    background-color: #002C6D;
    border-radius: 50%;
    height: 14%;
    width: 14%;
    margin: -105% 0 0 50%;
    animation-name: bulet-ani;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.bulet-2{
    margin: -40% 0 0 -2%;
}

.bulet-3{
    margin: -26% 0 0 80%;
}

@keyframes putar360 {
    0% {rotate: 0deg;}
    100% {rotate: 360deg;}
}

@keyframes bulet-ani {
    0% {scale: 50%; background-color: #002C6D; border-radius: 50%;}
    25% {border-radius: 20%;}
    50% {scale: 100%; background-color: #282828; border-radius: 50%;}
    75% {border-radius: 20%;}
    100% {scale: 50%; background-color: #002C6D; border-radius: 50%;}    
}

.judul-services-list{
    height: 5vw;
    /* background-color: yellow; */
    text-align: center;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 1vw;
}

.services-list .display-service{
    height: 25vw;
    width: 25vw;
    /* background-color: aquamarine; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-list svg{
    position: absolute;
}

/* PORTFOLIO SECTION */

.my-portfolios{
    /* height: 1300px; */
    height: auto;
    background-color: #D9D9D9;   
    /* justify-content: center; */
}

.my-portfolios-title{
    /* background-color: #002C6D; */
    /* width: 80%;
    height: 20%; */
    display: flex;
    justify-content: center;
}

.portfolio-menu{
    width: 36%;
    /* background-color: black; */
}

.portfolio-menu ul {
    /* background-color: #002C6D; */
    margin-top: 1%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio-menu ul li a{
    text-decoration: none;
    display: inline-block;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-weight:600;
} 

.body-card {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 80vh; */
    margin: 0;
    background-color: inherit;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    width: 250px;
    height: 400px;
    margin: 20px;
    background-color: inherit;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    border-radius: 20px;
    overflow: hidden;
    transition: box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
    border: 3px solid #002C6D;
    padding: 20px;
    box-sizing: border-box;
}

.card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    border: none;
}

.card:hover img{
    height: 70%;
    border: 3px solid #002C6D;
}

.card:hover h6{
    display: none;
}
.card:hover .card-description{
    display: none;
}
.card:hover .card-title{
    color: #002C6D;
    font-size: 1.5rem;
    text-wrap: wrap;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 10px;
    box-sizing: border-box;
    transition: height 0.3s, border 0.3s;
}

.card-content {
    padding: 5px 0;
    text-align: center;
    height: 40%;
}

.card-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.card h6{
    font-size: 0.6rem;
    color: #555;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.card-description {
    font-size: 0.9rem;
    /* line-height: auto; */
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show before adding ellipsis */
    -webkit-box-orient: vertical;
}


/* BLOGS SECTION */

.blogs{
    height: 50vw;
    background-color: #B1B1B1; 
    /* display: flex;   */
    /* justify-content: center; */
    height: auto;
}

/* CONTACT SECTION */

.img-contact{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: 0% 0%;
    z-index: -1;
    position: absolute;
    /* opacity: 0.5; */
}

.contact{
    /* background-color: #002C6D; */
    height: 99vh;
    width: 100%;
    /* margin-top: -100vh; */
    padding: 5% 10%;
    box-sizing: border-box;
    /* margin-bottom: 10%; */
    
}


.box-contact{
    display: grid;
    grid: 
    'nama email'
    'subject subject'
    'konten konten'
    'tombol tombol';
    grid-template-rows: 12% 12% auto 12%;
    grid-template-columns: repeat(1, 45%);
    grid-gap: 3%;
    box-sizing: border-box;
    overflow: hidden;
    /* background-color: yellow; */
    height: 26vw;
    width: 100%;
    
}

/* .contact input{
    height: 100%;
    width: 100%;
    background-color: #002C6D;
    border-radius: 5vw;

} */

.contact p{
    margin: 2% 0%;
}

.your-name{
    grid-area: nama;
    background-color: #fff;
    padding-left: 20px;
    border-radius: 5vw;
    border: none;
    /* height: 50%; */
}


.your-email{
    grid-area: email;
    background-color: #fff;
    padding-left: 20px;
    border-radius: 2vw;
    border: none;
}


.subject-email{
    grid-area: subject;
    background-color: #fff;
    border-radius: 2vw;
    padding-left: 20px;
    border-radius: 2vw;
    border: none;

}


.content-email{
    grid-area: konten;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 2vw;
    border-radius: 2vw;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

input:focus{
    outline: none;
}

textarea:focus{
    outline: none;
}

.tombol-kirim{
    grid-area: tombol;
    background-color: #fff;
    border-radius: 2vw;
    padding-left: 20px;
    border-radius: 2vw;
    border: none;
    cursor: pointer;
    background-color: #555;
    color: #D9D9D9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
}

.tombol-kirim:focus, .tombol-kirim:hover{
    background-color: #002C6D;
    color: #fff;
}


footer{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    background-color: #B1B1B1;
    padding: 0 10%;
    box-sizing: border-box;
    box-shadow: 0px -2px 5px rgb(0, 0, 0, 0.3);
}

footer p{
    color: #282828;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.footer-kanan{
    cursor: pointer;
}


/* svg g, svg path, svg circle{
    fill: #E8D318;
} */


/* end */



/* MEDIA QUERIES */

/* Laptop */
@media (max-width : 1366px) {
    html    {
        font-size: 80%;
    }
}


/* Tablet */
@media (max-width : 850px) {
    html    {
        font-size: 70%;
    }
    
    body{
        /* width: 100vw;
        height: 100px;
        background-color: #002C6D; */
        /* overflow: hidden; */
    }
    /* Navbar Section */
    #hamburger-menu{
        display: inline-block;
        z-index: 10;
    }

    .navbar .navbar-nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--bg-shade-1);
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
        display: block;
        box-shadow: -0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
        padding-top: 3rem;
    }

    .navbar .navbar-nav a:last-child{
        border-top: 0.1rem solid var(--bg-light);
        margin-top: 5rem;
        width: 60%;
    }
    
    .navbar .navbar-nav.active{
        right: 0;
    }

    .navbar .navbar-nav a{
        color: var(--bg-light);
        font-weight: 500;
        letter-spacing: 0.1rem;
        display: block;
        margin : 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a:hover{
        color: var(--primary-dark);
    }    

    .navbar .navbar-nav a::after{
        transform-origin: 0 0;     
        border-bottom: 0.1rem solid var(--primary-dark);  
        
    }
    .navbar .navbar-nav a:hover::after{
        transform: scaleX(1);
    }

    /* Hero Section */
    .hero{
        /* overflow: hidden; */
    }
    
    .hero .hero-bg{
		height: 100vw;
		width: 98vw;
        /* margin: 50%; */
        object-position: 0 30%;
        /* transform: scale(1.3); */
	}

    .hero .hero-bg-pembungkus{
        width: 100%;
        height:100vw ;
        position: absolute;
        overflow: hidden;
    }

    
	.hero .hero-object{
        height: 100vw;
		width: 50vw;
		right: 7.4%;
        object-fit: none;
        object-position: 26% 30%;
        transform: scale(1.4);
        overflow: hidden;
	}
/*     
    .hero .ob-pembungkus{
        width: 100%;
        height:100vw ;
        position: absolute;
        z-index: -1;
        overflow: hidden;
    } */

    .hero main{
        /* background-color: #002C6D; */
        /* opacity: 0.5; */
        height: 100vw;
        padding: 10rem 3rem 3rem 3rem;
        flex-wrap: wrap;
    }

    .hero-intro{
        width: 100%;
        height: 0;
    }

    .hero-sosmed{
        /* background-color: #E8D318; */
        width: 60%;
        margin-top: 15rem;
        /* margin-top: 0; */
        /* padding: 2rem; */
    } 
    .hero-sosmed .batang-2{
        float: none;
        height: 0.2rem;
        width: 100%;
        margin: 0 0 0 -20%;
    }

    .hero-sosmed .list-sosmed{
        /* background-color: green; */
        display: flex;
        margin-top: 2rem;
        width: 80%;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .hero-sosmed .sosmed-circle{
        height: 4rem;
        width: 4rem;
        border: 0.2rem solid var(--bg-dark);
        margin: 0;
        padding: .4rem;
    }


    .hero-hiasan{
        margin: 4rem 0 0 20rem;
    }

    .hero-hiasan .silinder{
        margin: 26rem 0 0 22rem;
    }

    .hero-hiasan .lingkaran{
        margin: -1.5rem auto auto 21rem;
    }


    /* End of Hero Section */

}

/* Mobile Phone */
@media (max-width : 450px) {
    html    {
        font-size: 50%;
    }

    .hero .hero-bg-pembungkus{
        height: 100vh;
    }

    .hero .hero-bg-pembungkus .hero-bg{
        height: 100vh;
        width: auto;
        transform: scale(1);
    }

    .hero .hero-bg-pembungkus .hero-object{
        height: 100vh;
        width: 100%;
        transform: scale(1);
        right: 0%;
        top: 5%;
        object-position: 25% 0%;
    }

    .hero main{
        padding: 12rem 0 0 2rem;
        /* background-color: #E8D318; */
        height: 100vh;
        display: block;
    }

    .hero-intro{
        margin-top: 0rem;
        width: 85%;
        display: block;
        height: 60%;
    }

    .hero-intro .hero-brief{
        width: 60%;
    }

    .hero .hero-sosmed{
        /* width: 20%; */
        margin: 0;
    }

    .hero .hero-sosmed .batang-2{
        width: 40%;
        /* margin-top: 0; */
    }

    .hero .hero-sosmed .list-sosmed{
        display: block;
    }

    .hero .hero-sosmed .list-sosmed .sosmed-circle{
        margin-bottom: 1rem;
    }

    .hero .hero-hiasan{
        margin: -60vh 0 0 -5vw ;
    }    



}